<div class="row">
  <div class='col-xs-12 col-sm-6  col-md-5 col-lg-4'>

    <div [hidden]='!showInput' class='future-value-input-section'>
      <form (ngSubmit)='calculate()' #futureValueForm='ngForm' autocomplete="false">
        <div class='form-description'>
          Calculates the value of what you would have earned if you had saved monthly in a stock index.
        </div>

        <div class="form-group" [ngClass]="{'validation-error':showValidationError(monthlyPaymentInput)}">
          <label for="monthly-payment" title="How much you will save each month. (1-99999)">Monthly Payment</label>
          <input id='monthly-payment' type="number" name='monthlyPaymentInput' maxlength="5" required numeric-input [(ngModel)]="monthlyPayment"
            #monthlyPaymentInput='ngModel' class="form-control" autocomplete="false" />
          <div class='error-message'>
            <span>Monthly Payment Is required</span>
          </div>
        </div>

        <div class="form-group">
          <label for="reasonList">Index</label>
          <select required class="form-control" id='indexList' name='indexList' [(ngModel)]='indexSelected' (ngModelChange)='stockIndexChanged()'
            #indexListSelect='ngModel'>
            <option *ngFor='let index of stockIndexList' [ngValue]='index'>{{index.name}}</option>
          </select>
        </div>

        <div class='row year-row'>
          <div class='col-xs-6 col-sm-6'>
            <div class="form-group" [ngClass]="{'validation-error':invalidQuoteYear}">
              <label for="startQuote">Start</label>
              <select required class="form-control" id='startQuote' name='startQuote' [(ngModel)]='startQuote' (ngModelChange)='startQuoteChanged()'
                #startQuoteSelect='ngModel'>
                <option *ngFor='let qoute of indexSelected.qoutes' [ngValue]='qoute'>{{qoute.year}}</option>
              </select>
            </div>
          </div>

          <div class='col-xs-6 col-sm-6'>
            <div class="form-group" [ngClass]="{'validation-error':invalidQuoteYear}">
              <label for="endQuote">End</label>
              <select required class="form-control" id='endQuote' name='endQuote' [(ngModel)]='endQuote' (ngModelChange)='endQuoteChanged()'
                #endQuoteSelect='ngModel'>
                <option *ngFor='let qoute of indexSelected.qoutes' [ngValue]='qoute'>{{qoute.year}}</option>
              </select>
            </div>
          </div>

          <div class='col-sm-12'>

            <div class='error-container'>
              <span *ngIf="invalidQuoteYear" id="invalidYearMessage">Start Year Can Not Be Greater Than The End Year</span>
            </div>

          </div>

        </div>

        <div class='row'>

          <div class='col-xs-6 col-sm-6'>
            <div class="form-group">
              <label for="rateOfReturnAverage">Average % Rate</label>
              <input id='rateOfReturnAverage' disabled type="text" name='rateOfReturnAverage' [(ngModel)]="rateOfReturnAverage" class="form-control"
                autocomplete="false" />
            </div>
          </div>

          <div class='col-xs-6 col-sm-6'>
            <div class="form-group">
              <label for="yearsSelected"># Years</label>
              <input id='yearsSelected' disabled type="text" name='yearsSelected' [(ngModel)]="yearsSelected" class="form-control" autocomplete="false"
              />
            </div>
          </div>
        </div>

        <div>
          <button id='calculate-button' type="submit" class="btn btn-primary">Calculate</button>
          <span *ngIf='showSubmitError()'>Required Fields</span>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="row" *ngIf="showResults">

  <div class="col-xs-12 col-sm-12 col-md-9">

    <app-balance-summary [summary]="balanceSummary" (calculateEvent)='handleCalculateEvent($event)' (showOriginalInputEvent)='handleShowOriginalInputEvent($event)'>

    </app-balance-summary>


  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">

    <chart class="future-value-chart" [options]="options"></chart>
  </div>
</div>