<div class="col-sm-3">
  
      <div class="form-group">
          <label for="monthlyPayment">Monthly Payment</label>
          <input id='monthlyPayment' type="text" numeric-input [(ngModel)]="monthlyPayment" class="form-control" />
      </div>
  
      <div class="form-group">
          <label for="ratePercent">Rate %</label>
          <input id='ratePercent' type="text" numeric-input [(ngModel)]="ratePercent" class="form-control" />
      </div>
  
      <div class="form-group">
          <label for="years"># Of Years</label>
          <input id='years' type="text" numeric-input [(ngModel)]="years" class="form-control" />
      </div>

      <div>
        <button id='calculate-button' (click)='calculate()'  type="button" class="btn btn-primary" >Calculate</button>
      </div>
  
  </div>