#future-value-component{
    // border: 1px solid #cccccc;
    padding: 10px;
}

.future-value-input-section
{
    border: 1px solid #cccccc;
    padding: 10px;
}


#monthly-payment {
    width: 125px;
}

#rate-percent {
    width: 80px;
}

#years {
    width: 60px;
}

#calculate-result {

    #future-value{
        font-size: x-large;
    }    
}