#future-value-component{
    // border: 1px solid #cccccc;
    padding: 10px;
}

.future-value-input-section
{
    background-color: #F5F8F9;
    border: 1px solid #cccccc;
    padding: 10px;

    input {
        width: 120px;
    }
}

// .highcharts-container{
//     width: 150px !important;
// }
// .future-value-chart{
//     border:1px solid #cccccc;
//      width: 150px;
//      height: 100px;
// }


// #monthly-payment {
//     width: 125px;
// }

// #rate-percent {
//     width: 80px;
// }

// #years {
//     width: 60px;   
// }

#calculate-result {
    background-color: #eeffe6;
    #future-value{
        font-size: x-large;
    }    
}