<!-- This is how you figured out how to do the drop down menu for nx-bootstrap -->
<!-- https://loiane.com/2017/08/how-to-add-bootstrap-to-an-angular-cli-project/ -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand">
              <img src="assets/img/ngx-bootstrap.svg" class="logo">
            </a> -->
      <span class="navbar-brand">
        <a  title='Home Page' routerLink="/home">Love Code Fish </a>
      </span>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">
              Link <span class="sr-only">(current)</span>
            </a></li> -->
      <!-- <li><a href="#">Link</a></li> -->
      <li class="dropdown" dropdown>
        <!-- {1} -->
        <a dropdownToggle role="button">
          Financial Calculators
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a routerLink="/futureValue">Future Value </a>
          </li>
          <li>
            <a routerLink="/futureValueStockQoute">Stock Index What If Calculator </a>
          </li>
          <!-- <li>
            <a href="#">Action</a>
          </li>
          <li>
            <a href="#">Another action</a>
          </li>
          <li>
            <a href="#">Something else here</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">Separated link</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">One more separated link</a>
          </li> -->
        </ul>
      </li>

      <li>
        <a routerLink="/weightList">Bulk Fishing Sinkers Free Shipping!!!</a>
      </li>
      <!-- <li class="dropdown" dropdown>        
        <a dropdownToggle role="button">Fishing
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a routerLink="/weight">Weight & Sinkers: Cost Per Ounce Calculator </a>
          </li>
          <li>
            <a routerLink="/weightList">Bulk Fishin Sinkers & Weights</a>
          </li>          
        </ul>
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class='big-muddy-fishing' href="http://www.bigmuddyfishing.com/" target="_blank" title="Go To My Fishing Blog.." >Big Muddy Fishing Blog</a>
      </li>
    </ul>
  </div>

</nav>

<div class='container'>
  <router-outlet></router-outlet>
</div>