<!-- This is how you figured out how to do the drop down menu for nx-bootstrap -->
<!-- https://loiane.com/2017/08/how-to-add-bootstrap-to-an-angular-cli-project/ -->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" title='Home Page' routerLink="/home">Love Code Fish </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/weightList">Bulk Fishing Sinkers Free Shipping!!!</a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Financial Calculators
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/futureValue">Future Value </a>
          <a class="dropdown-item" routerLink="/futureValueStockQoute">Stock Index What If Calculator </a>

        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://www.bigmuddyfishing.com/" target="_blank">Blog: BigMuddyFishing.com</a>

      </li>
    </ul>

  </div>
</nav>

<div class='container'>

  <router-outlet></router-outlet>
</div>