<div class='col-xs-12 col-sm-6  col-md-5 col-lg-4 col-md-offset-3 col-lg-offset-4'>

  <div class=''>
    <form (ngSubmit)='calculate()' #weightForm='ngForm' autocomplete="false">
      <div class='form-description'>
        Calculate the cost per ounce of weights and sinkers
      </div>

      <div class="form-group" [ngClass]="{'validation-error':showValidationError(quantityInput)}">
        <label for="quantity" title="How Many Weights">Quantity</label>
        <input id='quantity' type="number" name='quantityInput' maxlength="5" required numeric-input [(ngModel)]="quantity"
          #quantityInput='ngModel' class="form-control" autocomplete="false" />
        <div class='error-message'>
          <span>Quantity Is required</span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'validation-error':showValidationError(ouncesInput)}">
          <label for="ounces" title="What Does Each Sinker Weight?">Ounces</label>
          <input id='ounces' type="number" name='ounces' maxlength='5' required numeric-input [max]='20' [decimals]='2' [(ngModel)]="ounces"
              #ouncesInput='ngModel' class="form-control" autocomplete="false" />
          <div class='error-message'>
              <span>Ounces Is required</span>
          </div>
      </div>

      <div class="form-group" [ngClass]="{'validation-error':showValidationError(costInput)}">
          <label for="cost" title="What is the cost/price of all the sinkers?">Cost</label>
          <input id='cost' type="number" name='cost' maxlength='5' required numeric-input [max]='100' [decimals]='2' [(ngModel)]="cost"
              #costInput='ngModel' class="form-control" autocomplete="false" />
          <div class='error-message'>
              <span>Cost Is required</span>
          </div>
      </div>

      

    </form>
  </div>
</div>