<div class='row'>


  <div class='col-xs-12 col-sm-6  col-md-5 col-lg-4'>

    <div class='input-section'>
      <form (ngSubmit)='calculate()' #weightForm='ngForm' autocomplete="false">
        <div class='form-description'>
          Calculate the cost per ounce of weights and sinkers
        </div>

        <div class="form-group" [ngClass]="{'validation-error':showValidationError(quantityInput)}">
          <label for="quantity" title="How Many Weights">Quantity</label>
          <input id='quantity' type="number" name='quantityInput' maxlength="5" required numeric-input [(ngModel)]="quantity" #quantityInput='ngModel'
            class="form-control" autocomplete="false" />
          <div class='error-message'>
            <span>Quantity Is required</span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'validation-error':showValidationError(ouncesInput)}">
          <label for="ounces" title="What Does Each Sinker Weight?">Ounces</label>
          <input id='ounces' type="number" name='ounces' maxlength='5' required numeric-input [max]='30' [decimals]='2' [(ngModel)]="ounces"
            #ouncesInput='ngModel' class="form-control" autocomplete="false" />
          <div class='error-message'>
            <span>Ounces Is required</span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'validation-error':showValidationError(costInput)}">
          <label for="cost" title="What is the cost/price of all the sinkers?">Cost</label>
          <input id='cost' type="number" name='cost' maxlength='5' required numeric-input [max]='100' [decimals]='2' [(ngModel)]="cost"
            #costInput='ngModel' class="form-control" autocomplete="false" />
          <div class='error-message'>
            <span>Cost Is required</span>
          </div>
        </div>

        <div class="form-group">
          <label for="shippingCost" title="How much is the shipping and handling?">Shipping & Handling</label>
          <input id='shippingCost' type="number" name='shippingCost' maxlength='5' numeric-input [max]='100' [decimals]='2' [(ngModel)]="shippingCost"
            #shippingCostInput='ngModel' class="form-control" autocomplete="false" />
        </div>

        <div>
          <button id='calculate-button' type="submit" class="btn btn-primary">Calculate</button>
          <span *ngIf='showSubmitError()'>Required Fields</span>
        </div>

      </form>
    </div>
  </div>

  <div *ngIf="showResults" class='col-sm-6 col-md-5 col-lg-4'>
    <table class='weight-results table result-table'>
      <tr>
        <td>Total Cost</td>
        <td>{{result.costTotal}}</td>
      </tr>
      <tr>
        <td>Total Oz.</td>
        <td>{{result.ounceTotal}}</td>
      </tr>
      <tr class='total-line'>
        <td>Cost Per Oz</td>
        <td>{{result.costPerOunce}}</td>
      </tr>

    </table>

  </div>

</div>
<div class='row'>

  <div class='col-sm-12 col-md-12'>

    <div *ngFor="let group of sinkerGroups">
      <h3>{{group.title}}</h3>
      <table class='table table-striped table-condensed'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Quantity</th>
              <th>Oz</th>
              <th>Price</th>
              <th>Cost Per Oz</th>
              <th>Buy</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let w of group.results">
              <td>
                <a href="{{w.url}}" target="_blank"> {{w.title}} </a>
              </td>
              <td>{{w.quantity}}</td>
              <td>{{w.ounce}}</td>
              <td>{{w.price}}</td>
              <td>{{w.costPerOunce}}</td>
              <td>
                  <a href="{{w.url}}" target="_blank"> Click </a>
                </td>
            </tr>
          </tbody>
        </table>
    

    </div>

    

  </div>

</div>