<div *ngIf='filterSinkerWeightGroupItems'>

  <div class="row " style="background-color:azure">    

      <div class="col-lg-3">
        
        <!-- <label>Sinker Types</label>
        <select class="form-control" id='sinkerTypeList' name='sinkerTypeList' [(ngModel)]='sinkerTypeSelected' (ngModelChange)='sinkerTypeChanged($event)'
          #sinkerTypeListSelect='ngModel'>
          <option *ngFor='let sinkerType of group.sinkerTypeList' [ngValue]='sinkerType'>{{sinkerType.text}}</option>
        </select> -->
      </div>

      <div class="col-lg-3">
        <label>Sinker Oz. Size</label>
        <select class="form-control" id='ounceList' name='ounceList' [(ngModel)]='ounceSelected' (ngModelChange)='ounceChanged($event)'
          #ounceListSelect='ngModel'>
          <option *ngFor='let oz of group.ounceList' [ngValue]='oz'>{{oz.text}}</option>
        </select>
      </div>

      <div class="col-lg-2">
        <label>Sort By</label>
        <select class="form-control" id='sortByList' name='sortByList' [(ngModel)]='sortBySelected' (ngModelChange)='sortByChanged($event)'
          #sortByListSelect='ngModel'>
          <option *ngFor='let sortBy of sortByList' [ngValue]='sortBy'>{{sortBy.text}}</option>
        </select>
      </div>

      <div class="col-lg-2">
        <label>Sort By Direction </label>
        <select class="form-control" id='sortByDirectionList' name='sortByDirectionList' [(ngModel)]='sortByDirectionSelected' (ngModelChange)='sortByDirectionChanged($event)'
          #sortByDirectionListSelect='ngModel'>
          <option *ngFor='let sortByDirection of sortByDirectionList' [ngValue]='sortByDirection'>{{sortByDirection.text}}</option>
        </select>
      </div>
    
  </div>

  <div class="row">
    
    <div *ngIf='sinkerTypeSelected.value === 0' class="scroll-to-container">

      <div class="col-lg-12">
        <b>Scroll To:</b>
        <span class='scroll-to' *ngFor="let groupItem of filterSinkerWeightGroupItems">
          <a  scrollTo href='#{{anchorTag(groupItem.title)}}'>{{groupItem.title}}</a>
        </span>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-12 result-container'>
      <div *ngFor="let groupItem of filterSinkerWeightGroupItems">
        <div *ngIf="showOnlyThisType(groupItem)">
          <div>
            <div class='group-title-container'>
              <section id='{{anchorTag(groupItem.title)}}'></section>
              <span class='group-title'>{{groupItem.title}}</span>
              <span *ngIf="groupItem.results.length === 0">:There are no "{{groupItem.title}}" for your selected filter </span>
            </div>


            <div *ngIf="groupItem.results.length > 0">
              <table class='table table-striped table-condensed'>
                <thead>
                  <tr>
                    <th class='title'>Title</th>
                    <th class='quantity'>Quantity</th>
                    <th class='oz'>Oz</th>
                    <th class='price'>Price</th>
                    <th class='costPerOz'>Cost Per Oz</th>
                    <th class='buy'>Buy</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let w of groupItem.results">
                    <td>
                      <a href="{{w.url}}" target="_blank"> {{w.title}} </a>
                    </td>
                    <td>{{w.quantity}}</td>
                    <td>{{w.ounce}}</td>
                    <td>{{w.price | number : '1.2-2'}} </td>
                    <td>{{w.costPerOunce | number : '1.2-2'}}</td>
                    <td>
                      <a href="{{w.url}}" target="_blank"> Click </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>