<a class='show-original-input' (click)="showOriginalInput()">Show Orignal Input</a>
<table class='table table-condensed balance-details'>
    <thead>
        <tr>

            <th colspan="7">             

                <div class="result-horizontal pull-right">
                    <span id='principal' class='minor'>{{summary.paymentTotal| currency:'USD':true:'1.2-2'}}</span>
                    <span class='description'>Payment  +</span>
                    <span id='interest' class='minor'>{{summary.interest| currency:'USD':true:'1.2-2'}}</span>
                    <span class='description'>Interest =</span>
                    <span id='future-value' class='major'>{{summary.balance| currency:'USD':true:'1.2-2'}}</span>
                    <span id='rate-of-return' title="rate of return">({{summary.rateOfReturn}}%)</span>
                </div>
            </th>
        </tr>
        <tr>
            <th>Year</th>
            <th>Begin Balance</th>
            <th>Monthly Payment</th>
            <th>Payment Total</th>
            <th>Annual Rate %</th>
            <th>Interest</th>
            <th>End Balance</th>

        </tr>
    </thead>
    <tr *ngFor="let d of summary.detailItems">
        <td>{{d.period}}</td>
        <td>{{d.beginBalance | number : '1.2-2'}}</td>
        <td class='input-td'>

            <input class='detail-monthly-payment' (change)="updateDetail(d)" [ngModelOptions]="{updateOn: 'blur'}" type="text" name='detail-monthly-payment'
                maxlength='5' required numeric-input [(ngModel)]="d.periodPayment" #ratePercentInput='ngModel' autocomplete="false"
            />
        </td>
        <td>{{d.yearPaymentTotal | number : '1.2-2'}}</td>
        <td class='input-td'>
            <input class='detail-rate-percent' (change)="updateDetail(d)" [ngModelOptions]="{updateOn: 'blur'}" type="text" name='detail-ratePercent'
                maxlength='5' required numeric-input [min]='-20' [max]='99' [decimals]='2' [(ngModel)]="d.ratePercent"
                #ratePercentInput='ngModel' autocomplete="false" />
        </td>
        <td>{{d.interest | number : '1.2-2'}}</td>
        <td>{{d.endBalance | number : '1.2-2'}}</td>
    </tr>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{summary.paymentTotal| currency:'USD':true:'1.2-2'}}</td>
            <td></td>
            <td>{{summary.interest| currency:'USD':true:'1.2-2'}}</td>
            <td>{{summary.balance| currency:'USD':true:'1.2-2'}}</td>
        </tr>
    </tfoot>

</table>