/* You can add global styles to this file, and also import other style files */

.error-message {
    height: 15px;
    span{
        display: none;
    }
    
}

.validation-hint{
    font-style:oblique;
    font-weight:lighter;
    margin-left: 1px;
}
.validation-error {

    input{
        background-color:  #ffd6cc;            
    }

    .error-message{

        span{
            color:red;
            display:block;
        }
    }
}
// TODO can we move this into a less file called table, or numeric display, etc.
.total-line{
    border-top:2px solid black;
    font-weight: bold;
}

table {
    
        td.number{
            text-align: right;
        }
    
}

.form-description{    
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom:5px;    
}

