<div>

  <h1>Welcome To Love Code Fish</h1>
  <h2>

    This website is about my passions:
    <b> Loving, Coding & Fishing. </b>

  </h2>

  <h1>Love</h1>
  <p>
    I want you to know that I am a Christian by my actions. The most import commandment in the law is love. I am hoping through
    my meagre talents that I might showcase love on this website. My priorities are God, Wife, Children and Family in that
    order. I am not a preacher. My goal when I wake up in the morning is to love first and foremost. Yes I fail at time,
    it is a daily struggle. I want you to know it not my goal to convert anyone, but I will not deny my faith. I am hoping
    through this website that I can demonstrate many acts of love without preaching, trying to convert people or making people
    feel bad about their lifestyle. I judge people by the content of their character and I am hoping everyone will extend
    that courtesy to me.
  </p>

  <div class='qoute'>
    Thou shalt love the Lord thy God with all thy heart, and with all thy soul, and with all thy mind. This is the first and
    great commandment. And the second is like unto it, Thou shalt love thy neighbour as thyself.
  </div>

  <h1>Code</h1>
  <p>
    Why is this website so ugly? It is ugly because this is a playground for me to learn new technologies. By trade I am a Software
    Developer. It is how I put food on the table and make boat payments. Part of being a software developer is constantly
    learning new languages and techniques. I use this website to practice my craft and I make a mess as I try new things.
    This website was designed with the newest version of Angular 4.x I am using Azure to host it and most of the technologies
    will be in the Microsoft Stack (C#, MS-SQL, etc.). My goal is not a perfect website. My goal is learn something every
    day that will enhance my career. If it is ugly so be it, the goal is to get better every day.
  </p>

   
  <div class='qoute'>
    Do not despise these small beginnings, for the LORD rejoices to see the work begin
  </div>  


  <h1>Fish</h1>
  <p>
    If you know me, you know I love to fish. I have to stop thinking about fishing so I can be productive in other ways. Did
    I mention that I love to fish? Since this site is about combining my passions the word Fish had to be in the domain.
    You will see a lot of widgets on this page about fishing. For the sake of simplicity I do have a blog that is solely
    dedicate to fishing, please check it out

    <b>
      <a href="http://www.bigmuddyfishing.com/" target="_blank">BigMuddyFishing.com</a>
    </b>
  </p>

  <div class='qoute'>
    and have dominion over the fish of the sea, and over the fowl of the air, and over every living thing that moveth upon the earth.
  </div>

  <div class='qoute'>
      I am trying to get all this to work in a node js server
    </div>

</div>